<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
      a {
        color: #00B7FF;
      }
    </style>

    <title>Tone Analyzer</title>
  </head>
  <body>
    <div class="container">
      <h2>Tone Analyzer</h2>
      <form action="/" method="POST">
        <div class="form-group">
          <label for="email">Enter text</label>
          <br><br>
          <input type="text" class="form-control" id="email" placeholder="Some Text...." name="text">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    
  <div id="result">
  <div>
  </body>
</html>
